body{
    display: flex;
    justify-content: center;
}
.cardd{
    align-items: center;
    justify-content: center;
    border:3px solid;
    border-radius: 10px;
    width: 300px;
    height: auto;
    text-align: center;
    margin: 30px;
    padding: 5px;
}
#card{ 
    transition: 0.3s;
}
.theme-white{
    background: white;
    color: black;
    border-color: black;
}
.theme-black{
    background: black;
    color: white;
    border-color: red;
}
.theme-blue{
    background: #c9e3ff;
    color: #022;
    border-color: #022;
}
.theme-pink{
    background: #ffb6c1;
    color: #333;
    border-color: #333;
}
.theme-green{
    background: #c4f8c4;
    color: green;
    border-color: green;
}
.skill-item{
    padding: 6px 12px;
    background: #444;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}
.skill-c{
    display: inline-block;
    background: rgba(255,255,255,0.3);
    padding: 5px 10px;
    margin: 4px;
    border-radius: 12px;
}
