*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 50%;
    width: 40%;
    background-color: aqua;
    place-content: center;
}
.display_box{
  grid-column-start: 2;
  grid-column-end: 4;
}

