body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #eee;
}
.chess{
  display: grid;
  grid-template-columns: repeat(8, 55px);
  grid-template-rows: repeat(8, 55px);
  border: 4px solid black;

}
.box{
    height: 55px;
    width: 55px;
}
.box:nth-child(odd){
    background: #f0d9d5;
}
.box:nth-child(even){
    background: #d58863;
}
.rbox{
    height: 55px;
    width: 55px;
}
.rbox:nth-child(even){
    background: #f0d9d5;
}
.rbox:nth-child(odd){
    background: #d58863;
}